body{
    background-color: black;
    color: aliceblue;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100px;
}

.tasks{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100px;
}
table {
    margin-top: 80px;
    width: 50%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid rgb(235, 227, 227);
    padding: 8px;
    text-align: left;
}
th {
    background-color: #060505;
}


